# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Gradle
.gradle/
build/
out/

# Maven
target/

# Node
node_modules/
dist/

# Logs
*.log

# Env
.env

#Backend
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### IntelliJ IDEA ###
backend/.idea/modules.xml
backend/.idea/jarRepositories.xml
backend/.idea/compiler.xml
backend/.idea/libraries/
backend/.idea/**
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/!**/src/main/**/out/
backend/!**/src/test/**/out/

### Eclipse ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
backend/!**/src/main/**/bin/
backend/!**/src/test/**/bin/

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

### VS Code ###
backend/.vscode/

### Mac OS ###
backend/.DS_Store

### QClass ###
backend/src/main/generated/**

