server:
  port: ${SERVER_PORT}

spring:
  application:
    name: ballx-backend
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      idle-timeout: 5000
      max-lifetime: 420000
      connection-timeout: 5000
      validation-timeout: 3000
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      properties:
        hibernate:
          jdbc.time_zone: UTC
          format_sql: true
          show_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    time-zone: Asia/Seoul
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${NAVER_CLIENT}
            client-secret: ${NAVER_SECRET}
            redirect-uri: ${NAVER_REDIRECT_URI}
            scope:
              - name
              - email
              - gender
            client-name: Naver
            authorization-grant-type: authorization_code  #코드를 부여 받는 것
          kakao:
            client-id: ${KAKAO_CLIENT}
            client-secret: ${KAKAO_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            scope:
              - account_email
            client-name: Kakao
            client-authentication-method: POST
            authorization-grant-type: authorization_code
          google:
            client-id: ${GOOGLE_CLIENT}
            client-secret: ${GOOGLE_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            scope:
              - email
              - profile

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  secret: ${JWT_SECRET_KEY}
  access-valid-time: ${JWT_ACCESS_TIME:300000}
  refresh-valid-time: ${JWT_REFRESH_TIME:43200000}