server:
  port: ${SERVER_PORT}

spring:
  application:
    name: ballx-backend
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      idle-timeout: 5000
      max-lifetime: 420000
      connection-timeout: 5000
      validation-timeout: 3000
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      properties:
        hibernate:
          jdbc.time_zone: UTC
          format_sql: true
          show_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    time-zone: Asia/Seoul
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX

oauth:
  kakao:
    redirect: ${KAKAO_REDIRECT_URI}
    client: ${KAKAO_CLIENT}
    secret: ${KAKAO_SECRET}
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me
  naver:
    redirect: ${NAVER_REDIRECT_URI}
    client: ${NAVER_CLIENT}
    secret: ${NAVER_SECRET}
    token-uri: https://nid.naver.com/oauth2.0/token
    user-info-uri: https://openapi.naver.com/v1/nid/me